<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
	<script type="text/javascript" src="{% static 'meeting/js/meeting.js' %}"></script>
</head>
<body>
		<nav class="navbar navbar-light bg-light">
	  		<a class="navbar-brand" href="{% url 'home_view' %}">
	    		<img src="{% static 'login/cssLogo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="">
	  			}
	  		</a>
	  		<div>
	  		<a href="{% url 'account_view' %}" class="ml-auto">
	  		<svg width="2.25em" height="2.25em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg></a>
			
	  		<a href="{% url 'logout_view' %}"><svg width="2.25em" height="2.25em" viewBox="0 0 16 16" class="bi bi-door-open-fill mr-auto" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
			</svg></a>
			</div>
		</nav>
	{{ meeting_object.meetingHeader }}<br><br>
	{% for item in agenda_items_for_current_meeting %}
		
		<h4>{{ item.agendaHeader }}</h4>
		<h6>{{ item.agendaMainText }}</h6>
		{% for comment in item.compile_relevant_comments %}
			<p>{{comment.author}} : {{ comment.text }}</p>
		{% endfor %}
		<form method="POST" name="new_comment_{{ item.id }}">
			{% csrf_token %}
			<input type="text" name="comment_text" id="comment_for_item_{{ item.id }}_text">
			<button type="submit" name="create_new_comment">Add Comment</button>
		</form>

	{% endfor %}
	<br>
	{% if administratorStatus %}
	<form method="POST" id="add_agenda_item">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="agenda_header" id="agenda_header" placeholder="Agenda Header">
		</div>
		<div class="form-group">
			<textarea name="agenda_background" class="form-control" id="agenda_background" placeholder="Background Information"></textarea>
		</div>
		<button class="btn btn-primary" type="submit" name="create_new_agenda_item">Add Agenda Item</button>
	</form>
	{% else %}
	<form method="POST" id="add_agenda_item">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="agenda_header" id="agenda_header" placeholder="Agenda Header">
		</div>
		<div class="form-group">
			<textarea name="agenda_background" class="form-control" id="agenda_background" placeholder="Background Information"></textarea>
		</div>
		<button disabled class="btn btn-primary" type="submit" name="create_new_agenda_item">Add Agenda Item</button>
	</form>
	{% endif %}
	<br><br><br>
	<a href="{% url 'home_view' %}" ><button class="btn btn-primary btn-lg btn-block">Go Home</button></a>
</body>
</html>