.login-form{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-width: 1px;
	border-color: black;
	border-radius: 1px;
	border-style:solid;
	margin-right: 350px;
	margin-left: 350px;
	margin-top: 150px;
	border-radius: 6px;
}

.user-input {
	padding: 8px;

}

.p-as-button {
	padding: 8px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

body {
	
	padding:20px;
}



.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}